$polaroid-frame-background:  #f5f5f5;

$polaroid-photo-background: #212121; 

$polaroid-photo-shadow: #424242; 

.polaroidContainer {
    place-self: center;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;

    background: $polaroid-frame-background;

    box-shadow: -3px 3px 7px -3px $polaroid-photo-shadow;
}

.polaroidFrame {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.polaroidPhotoContainer {
    background: $polaroid-photo-background;
}

.polaroidWhiteSpace {
    width: 100%;
    flex-grow: 1;
}