$border: #1e1e1e;

$beige: #e6dfcf;
$darkGrey: #808080;
$brightRed: #f32f2f;
$yellow: #ffc61e;


@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin insetBorder($inset) {
	@if $inset {
		box-sizing: border-box;
	}
}

@mixin widthCircle($width, $borderWidth, $borderColor, $inset: true) {
	width: $width;
	aspect-ratio: 1 / 1;

	@include insetBorder($inset);
	border: $borderWidth solid $borderColor;
	border-radius: 50%;
}

@mixin heightCircle($height, $borderWidth, $borderColor, $inset: true) {
	height: $height;
	aspect-ratio: 1 / 1;

	@include insetBorder($inset);
	border: $borderWidth solid $borderColor;
	border-radius: 50%;
}

@mixin squircle($width, $borderWidth, $borderRadius, $borderColor, $inset: true) {
	width: $width;
	aspect-ratio: 1 / 1;

	@include insetBorder($inset);
	border: $borderWidth solid $borderColor;
	border-radius: $borderRadius;
}

.homeContainer {
	width: 100%;
	height: 100%;

	display: grid;
	place-items: center;
}

.polaroidContainer {
	width: 450px;
	height: 350px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(32, minmax(0, 1fr));
}

.polaroidHead {
	grid-row: 1 / 24;

	justify-self: center;

	width: 90%;
	height: 100%;

	border: 4px solid $border;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;

	display: grid;
	grid-template-columns: repeat(16, minmax(0, 1fr));
	grid-template-rows: repeat(8, minmax(0, 1fr));

	background: $beige;
}

.flashCover {
	grid-area: 2 / 2 / 6 / 5;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

	box-sizing: border-box;
	border: 4px solid $border;

    border-radius: 10px;

	background: white;
}

.flashCoverLines {
    width: 50%;
    height: 100%;

    border-left: 1.5px solid $border;
    border-right: 1.5px solid $border;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;

    div {
        border-left: 1.5px solid $border;
        border-right: 1.5px solid $border;
    }
}

.selfTimerButton {
	grid-area: 2 / 5 / 3 / 6;
}

.infraredLED {
	grid-area: 3 / 5 / 4 / 6;
}

.infraredLED > div {
	background: $darkGrey;
}

.selfTimerButton, .infraredLED {
	width: 100%;
	height: 100%;

	@include center;

	& > div {
		@include center;

		@include widthCircle(70%, 2.5px, $border);
	}

	& > div > div {
		@include widthCircle(calc(100% - 5px), 2px, $border);
	}
}

.lens {
	grid-area: 1 / 6 / 7 / 12;

	place-self: center;

	@include center;

	@include widthCircle(100%, 4px, $border);

	background: $darkGrey;

	& > div {
		@include center;

		@include widthCircle(90%, 3px, $border);

		& > div {
			@include center;

			@include widthCircle(calc(100% - 10px), 2px, $border);
		}
	}

	& > div > div > div {
		@include center;

		@include widthCircle(70%, 3px, $border);

		& > div {
			@include center;

			@include widthCircle(calc(100% - 10px), 2px, $border);

			& > div {
				@include widthCircle(70%, 3px, $border);
			}
		}
	}
}

.viewFinder {
	grid-area: 2 / 13 / 4 / 16;

	place-self: center;

	@include center;
	
	$squircleBorderRadius: 20%;
	@include squircle(100%, 2.5px, $squircleBorderRadius, $border);

	background: $darkGrey;

	& > div {
		@include center;

		@include squircle(90%, 2px, $squircleBorderRadius, $border);

		& > div {
			@include center;

			// @include squircle(80%, 2.5px, $squircleBorderRadius, $border);
			width: 80%;
			aspect-ratio: 1 / 1;

			box-shadow: inset 0px 0px 0px 2.5px $border;
			border-radius: $squircleBorderRadius;
		}
	}

	& > div > div > div {
		@include center;

		@include widthCircle(100%, 2.5px, $border, false);

		& > div {
			@include center;

			@include squircle(50%, 2px, $squircleBorderRadius, $border);

			& > div {
				@include squircle(40%, 2px, $squircleBorderRadius, $border);

				background: white;
			}
		}
	}
}

.lightenDarkenSwitch {
	grid-area: 4 / 13 / 5 / 16;

	place-self: center;

	width: 100%;
	height: 40%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.switchSlider {
	width: 35%;
	height: 100%;

	box-shadow: inset 0px 0px 0px 2px $border;
	border-radius: 100px;

	@include center;

	background: $yellow;

	& > div {
		@include heightCircle(100%, 2px, $border);
	}
}

.switchSigns {
	height: 100%;

	font-family: monospace, monospace;
	font-size: 16px;
	color: $border;

	@include center;
	
	& > span {
		@include center;
		text-align: center;
	}
}

.shutterSwitch {
	grid-area: 6 / 2 / 9 / 5;

	align-self: center;

	@include center;

	@include widthCircle(80%, 2px, $border);

	& > div {
		@include widthCircle(90%, 4px, $border);

		background: $brightRed;
	}
}

.lightMeter {
	grid-area: 6 / 11 / 7 / 12;

	justify-self: center;

	@include center;

	@include widthCircle(100%, 3px, $border);

	background: $darkGrey;

	& > div {
		@include widthCircle(calc(100% - 5px), 2px, $border);
	}
}

.logo {
	grid-area: 6 / 13 / 9 / 16;

	place-self: center;

	text-align: center;

	font-family: "Roboto";
	font-weight: 500;
	font-size: 26px;
	color: $border;

	line-height: 18px;
}

.logo::after {
	content: '2';
	
	margin-left: 2px;

	font-size: 32px;
	font-weight: 900;
	color: $yellow;
}

.polaroidBody {
	grid-row: 24 / 33;

	justify-self: center;

	width: 95%;
	height: 100%;

	border: 4px solid $border;
	border-radius: 10px;
}
