$border: #1e1e1e;

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeContainer {
	width: 100%;
	height: 100%;

	display: grid;
	place-items: center;
}

.polaroidContainer {
	width: 500px;
	height: 450px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(8, minmax(0, 1fr));
}

.polaroidHead {
	grid-row-start: 1;
	grid-row-end: 6;

	justify-self: center;

	width: 90%;
	height: 100%;

	border: 4px solid $border;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;

	display: grid;
	grid-template-columns: repeat(16, minmax(0, 1fr));
	grid-template-rows: repeat(8, minmax(0, 1fr));
}

.flashCover {
	grid-area: 2 / 2 / 6 / 5;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    box-shadow: inset 0px 0px 0px 4px $border;

    border-radius: 10px;
}

.flashCoverLines {
    width: 50%;
    height: 100%;

    border-left: 1.5px solid $border;
    border-right: 1.5px solid $border;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;

    div {
        border-left: 1.5px solid $border;
        border-right: 1.5px solid $border;
    }
}

.selfTimerButton {
	grid-area: 2 / 5 / 3 / 6;
}

.infraredLED {
	grid-area: 3 / 5 / 4 / 6;
}

.selfTimerButton, .infraredLED {
	width: 100%;
	height: 100%;

	@include center;

	& > div {
		width: 70%;
		aspect-ratio: 1 / 1;

		@include center;

		border-radius: 50%;
		box-shadow: inset 0px 0px 0px 2.5px $border;
	}

	& > div > div {
		width: 50%;
		aspect-ratio: 1 / 1;

		border-radius: 50%;
		box-shadow: inset 0px 0px 0px 2px $border;
	}
}

.lens {
	grid-area: 1 / 6 / 7 / 12;
}

.viewFinder {
	grid-area: 1 / 13 / 4 / 16;
}

.lightenDarkenSwitch {
	grid-area: 4 / 13 / 5 / 16;
}

.shutterSwitch {
	grid-area: 6 / 2 / 9 / 5;
}

.lightMeter {
	grid-area: 7 / 11 / 8 / 12;
}

.logo {
	grid-area: 7 / 13 / 9 / 16;
}

.polaroidBody {
	grid-row-start: 6;
	grid-row-end: 9;

	justify-self: center;

	width: 95%;
	height: 100%;

	border: 4px solid $border;
	border-radius: 10px;
}
